.subSection {
    width: 100%;
}

.subscribe {
    width: 100%;
    position: relative;
}

.subs-img-box {
    width: 100%;
    height: 100%;
}

.subs-image {
    width: 100%;
    object-fit: cover;
}

.subs-content-box {
    position: absolute;
    top: 40%;  
    left: 50%; 
    padding: 4rem 8rem;

    transform: translate(-50%, -50%);
    display: flex;
    
    width: 100%;
}

.subs-heading-box {
    flex-basis: 50%;
    font-size: 4rem;
    color: #fff;
}

.subs-input {
    background: transparent;
    border: none;
    color: #ccc;
    border-bottom: 1px solid #ccc;
    font-size: 2rem;
    padding: 1rem 0;
    outline: none;
}

.subs-form {
    flex-basis: 55%;
}

.sub-form-headingBox {
    text-align: center;
}

.sub-form-heading {
    font-size: 3rem;
    color: #fff;
    opacity: 90%;
}

.form {
    padding: 3rem 5rem;
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "fname name" "hello hello" "pass pass";
}


.subs-input {
    grid-area: fname;
}

.l-input {
    grid-area: name;
}

.mail-input {
    grid-area: hello;
}

.pass-input {
    grid-area: pass;
}



.subbtn {
    border: 2px solid #fff;
    margin-top: 2rem;
    border-radius: 10rem;
    background: transparent;
    padding: 1rem 5rem;
    color: #fff;
    font-size: 2rem;
}